<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	
	default-lazy-init="true"
	>


<!-- dao -->
<bean  class="com.pradeep.bank.dal.MapAccountDaoImpl" id="accountDao">

</bean>


<!-- service -->
<bean class="com.pradeep.bank.service.AccountServiceImpl" id="accountService">
<constructor-arg  name="accountDao"  ref="accountDao"/>
</bean>



<!-- mainApp -->
<bean class="com.pradeep.bank.presentation.BankMainApp"  scope="prototype" id="bankMainApp"    init-method="init"  destroy-method="destroy"  >
<property name="as" ref="accountService"/>


</bean>


<!-- mainApp -->
<bean class="com.pradeep.bank.presentation.BankMainApp" id="bankMainApp1"  >

</bean>



</beans>
